* {
  box-sizing: border-box;
  text-align: center;
}

.buttons {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.hide {
  opacity: 0;
  transition: 1s;
}

.show {
  opacity: 1;
  transition: 1s;
}

.copied {
  display: block;
  margin: 0 0 30px;
  transition: 1s;
}